@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
  }
  
  code {
    color: #E01A76;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .trip-form{
    margin: 10% 30% 10% 30%;
  }
  